<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Beranda</title>
      <object th:include="fragments/fragment :: css" th:remove="tag"></object>
      <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

      <object th:include="fragments/fragment :: navbar" th:remove="tag"></object>
      <object th:include="fragments/fragment :: aside" th:remove="tag"></object>

      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Notification</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item active">Notification</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <section class="content">
          <div class="container-fluid">
            <div class="row">
				<div class="col-md-12">
					<div class="callout callout-success">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h4><i class="icon fas fa-check-circle"></i> Notification!</h4>
            <a th:if="${typeMsg} == 'add'" th:text="${msg}"></a>
            <a th:if="${typeMsg} == 'delete'" th:text="${msg}"></a>
					</div>

					<a th:href="@{'/perpustakaan'}">
						<button type="button" class="btn bg-gradient-secondary"> <i class="icon fas fa-angle-left"> Kembali ke Data Perpustakaan</i></button>
					</a>

					<a th:href="@{'/perpustakaan/tambah'}">
						<button type="button" class="btn bg-gradient-info"><i class="icon fas fa-plus"> Tambah Data</i></button>
					</a>
				</div>
            </div>
          </div>
        </section>
      </div>

      <object th:include="fragments/fragment :: footer" th:remove="tag"></object>
      <object th:include="fragments/fragment :: aside_control" th:remove="tag"></object>
    </div>
  </body>
</html>
