<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <head th:fragment="css">
            <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        </head>
        <head th:fragment="js">
            <script th:src="@{/js/bootstrap.min.js}"></script>
        </head>
    </head>
    <body>
        <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><b>SIP</b></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Beranda</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Perpustakaan</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Statistik</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Cari</a>
                    </li>
                </ul>
            </div>
		</nav>
    </body>
</html>
