<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Beranda</title>
      <object th:include="fragments/fragment :: css" th:remove="tag"></object>
      <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

      <object th:include="fragments/fragment :: navbar" th:remove="tag"></object>
      <object th:include="fragments/fragment :: aside" th:remove="tag"></object>

    
      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Detail Pustakawan</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">Beranda</li>
                  <li class="breadcrumb-item active">Detail Pustakawan</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <a th:href="@{'/'}">
                  <button type="button" class="btn bg-gradient-info"> < Kembali ke Beranda</button>
                </a>
                <br><br>
                <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Detail Pustakawan</h4>
                </div>
                <div class="card-body">
                  <dl class="row">
                    <dt class="col-sm-4">Nama</dt>
                    <dd class="col-sm-8" th:text="${data.nama}"></dd>
                    <dt class="col-sm-4">NIP</dt>
                    <dd class="col-sm-8" th:text="${data.nip}"></dd>
                    <dt class="col-sm-4">Tempat Lahir</dt>
                    <dd class="col-sm-8" th:text="${data.tempatLahir}"></dd>
                    <dt class="col-sm-4">Tanggal Lahir</dt>
                    <dd class="col-sm-8" th:text="${data.tanggalLahir}"></dd>
                    <dt class="col-sm-4">Jenis Kelamin</dt>
                    <dd class="col-sm-8" th:if="${data.jenisKelamin == 1}">Laki-laki</dd>
                    <dd class="col-sm-8" th:if="${data.jenisKelamin == 2}">Perempuan</dd>
                    <dt class="col-sm-4">Spesialisasi</dt>
                    <dd class="col-sm-8">
                        <span th:if="${data.listPustakawan.size() == 0}">-</span>
                        <span th:if="${data.listPustakawan.size() == 1}">
                            <span th:each="spesialisasi : ${data.listPustakawan}">
                                <span th:text="${spesialisasi.nama}"></span>
                            </span>
                        </span>
                        <span th:if="${data.listPustakawan.size() > 1}">
                            <span th:each="spesialisasi : ${data.listPustakawan}">
                                <span th:if="${spesialisasiStat.index != data.listPustakawan.size()-1}"
                                    th:text="${spesialisasi.nama} + ','"></span>
                                <span th:unless="${spesialisasiStat.index != data.listPustakawan.size()-1}"
                                    th:text="${spesialisasi.nama}"></span>
                            </span>
                        </span>
                    </dd>
                  </dl>
                </div>
                <div class="card-footer clearfix"></div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <object th:include="fragments/fragment :: footer" th:remove="tag"></object>
      <object th:include="fragments/fragment :: aside_control" th:remove="tag"></object>
    </div>
  </body>
</html>
