<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Beranda</title>
      <object th:include="fragments/fragment :: css" th:remove="tag"></object>
      <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <style>
      .col-sm-10.jenkel {
        padding-top: 10px;
      }
    </style>
    <div class="wrapper">

      <object th:include="fragments/fragment :: navbar" th:remove="tag"></object>
      <object th:include="fragments/fragment :: aside" th:remove="tag"></object>

    
      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark">Tambah Pustakawan</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">Tambah</li>
                    <li class="breadcrumb-item active">Pustakawan</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <a th:href="@{'/'}">
                  <button type="button" class="btn bg-gradient-secondary"> < Kembali ke Beranda</button>
                </a>
                <br><br>
                <div class="card card-info">
                  <div class="card-header">
                    <h4 class="card-title">Form Tambah Pustakawan</h4>
                  </div>
                  <form th:action="@{/pustakawan/tambah}" th:object="${dataPustakawan}" method="POST">
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <div class="card-body">
                      <div class="form-group row">
                        <label for="nama" class="col-sm-2 col-form-label">Nama</label>
                        <div class="col-sm-10">
                          <input type="text" name="nama" class="form-control" id="nama" placeholder="Nama">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="tempatLahir" class="col-sm-2 col-form-label">Tempat Lahir</label>
                        <div class="col-sm-10">
                          <input type="text" name="tempatLahir" class="form-control" id="tempatLahir" placeholder="Tempat Lahir">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="tanggalLahir" class="col-sm-2 col-form-label">Tanggal Lahir</label>
                        <div class="col-sm-10">
                            <input type="date" name="tanggalLahir" class="form-control" id="tanggalLahir">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="jenisKelamin" class="col-sm-2 col-form-label">Jenis Kelamin</label>
                        <div class="col-sm-10 jenkel">
                          <div class="icheck-info d-inline form-check form-check-inline">
                            <input type="radio" id="radioPrimary1" name="jenisKelamin" value="1">
                            <label for="radioPrimary1">Laki-Laki</label>
                          </div>
                          <div class="icheck-info d-inline form-check form-check-inline">
                            <input type="radio" id="radioPrimary2" name="jenisKelamin" value="2">
                            <label for="radioPrimary2">Perempuan</label>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="form-group row">
                        <div class="col-md-12">
                          <button type="submit" class="btn btn-info btn-block" name="addRow">Tambah Spesialisasi</button>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="spesialisasi" class="col-sm-2 col-form-label">Spesialisasi</label>
                        <div class="col-md-8">
                          <select class="form-control" name="spesialisasi" id= "spesialisasi"  th:field="*{listPustakawan}">
                            <option value="0">Pilih Spesialisasi</option>
                            <option th:each="dataSpesialisasi : ${dataSpesialisasi}" 
                              th:value="${dataSpesialisasi.id}" 
                              th:text="${dataSpesialisasi.nama}">
                            </option>
                          </select>
                        </div>
                        <div class="col-md-2">
                          <button type="submit" class="btn btn-danger" name="removeRow">Hapus</button>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer clearfix">
                      <button type="submit" class="btn bg-gradient-info" name="submit">Simpan</button>
                    </div>
                  </form>
                </div>
            </div>
          </div>
        </section>
      </div>

      <object th:include="fragments/fragment :: footer" th:remove="tag"></object>
      <object th:include="fragments/fragment :: aside_control" th:remove="tag"></object>
    </div>
  </body>
</html>
